/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

section h2 {
    color: #7625fb;
    font-size: 3.125em;
    font-weight: 600;
}
.container {
    max-width: 1400px;
    width: 100%;
    border: 10px solid goldenrod;
}
.container-content {
    margin: 0 auto;
    padding-right: 51px;
    padding-left: 51px;
    padding-bottom: 53px;
    position: relative;
}

.text-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    height:auto;
    display: block;
    max-width: 100%;
}

/* HEADER */

.header {
    width: 100%;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    margin: 52px 0;
}

.header-inner {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .motto-heading {
    font-size: 6.25em;
    font-family: 'Work Sans', sans-serif;
    color: #7625fb;
    font-weight: 600;
    position: absolute;
    top: 47%;
    left: 48%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
}

.main-navigation .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-navigation .menu li {
    margin-left: 55px;
}

.main-navigation .menu li:first-child {
    margin-left: 0;
}

.main-navigation .menu li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5625em;
    padding: 5px;
}

.main-navigation .menu li:hover {
    transform: scale(1.5);
    transition: all 0.4s linear;
}

.social-media-content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0.3%;
}

.social-media-content .social-icon {
    width: 40px;
    height: 45px;
    border-radius: 50%;
    background-color: #5c16b7;
    text-align: center;
    padding: 9px;
    margin-top: 10px;
}

.fa {
    color: white;
    font-size: 1.5em;
}


/* ABOUT-US section */

.about-us {
    background-color: #f2f2f2;
    padding: 74px 246px 109px 268px;
}

.about-flex-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 60px;
    
}

.about-flex-content .about-col>p {
    font-size: .875em;
    line-height: 25px;
}

.about-flex-content .about-col p:first-child {
    margin-bottom: 34px;
}


.about-flex-content .about-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.about-flex-content .about-col-img {
    flex: 1;
    margin-left: 102px;
    
    
}




/* Gallery section */

.gallery {
    background-color: #FFFFFF;
}

.gallery .gallery-container {
    padding: 65px 272px 60px 270px;
    display: flex;
    align-items: center;
}

.gallery h2 {
    font-size: 3.125em;
    color: #7625fb;
    font-weight: 600;
    margin-right: 56px;
}


/* Open-hours section */

.open-hours {
    height: 377px;
    background: url(../images/open-hours-panel.jpg);
    background-size: cover;
    background-position: center;
}

.open-hours .open-hours-info {
    padding: 210px 0 76px 270px;
    font-size: 2.5em;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 25px;
}


.open-hours-info p:after {
    content:"\A \A from 8am - 7pm";
    white-space: pre;
}


/* SERVICES section */

.section-group-content {
    padding: 116px 249px  0/*131px*/ 270px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(118, 37, 251) 98%);
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(118, 37, 251) 98%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(118, 37, 251) 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.section-row {
    display: flex;
    max-width: 1400px;
}

.section-content {
    flex: 1 1 30%;
    border: 10px solid goldenrod;
}

.services-categories {
    /* border: 10px solid goldenrod; */
    flex: 1 1 30%;
}

 .services-categories ul {
    list-style: none;
}

 .services-categories li {
    margin-top: 50px;
}

 .services-categories li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3871em;
}

.services-offer {
    display: flex;
    flex-direction: column;
    flex: 2 2 70%;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    font-size: .875em;
    line-height: 25px;
    margin-top: 50px;
}

.contact-services-offer {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    flex: 2 0 50%;
    color: #FFFFFF;
    border: 10px solid goldenrod;
}

.services-offer .para-start {
    margin-bottom: 25px;
}

.services-offer .para-end {
    margin-left: 25px;
}

.services-offer-img {
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    
}
/* CONTACT section */
input[type=submit] {
    width: 349px;
    height: 61px;
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    color: #7625fb;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 5px;
    cursor: pointer;
    margin-top: 59px;
}


input {
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid #ececec;
}


label {
    color: #ffffff;
    font-size: 1.125em;
}


/* @media screen and (min-width: 120em) {
    .container {
        
    }
  
} */