/* home section button */

.get-free-now-btn {
    @include btn-style($accent-orange);
}

/* gallery section button */

.gallery-view-more-btn {
    @include btn-style($btn-gallery-color);
   margin: 4rem auto;
}

/* subscribe submit button */

.subscribe-us-btn {
    @include btn-style($btn-subscribe-color);
    width: 170px;
    padding: 1.06rem 2.06rem;
    position: absolute;
    right: -34%;
    z-index: 1;
    cursor: pointer;
}

/* blog section button */

.blog-view-more-btn {
    @include btn-style($btn-blog-color);
    margin: 0 auto;
}



