/* Styles for blog section */

.blog {
    padding: 5rem;
    height: 100%;
    background-color: #b07cf7;
    color: $secondary-white-color;
}
.img-container {
    position: relative;
    transition: all 0.7s ease;
}
.img-container:hover {
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
    transform: scale(1.2);
    z-index: 999;
}
.img-container:hover .img-overlay {
    display: block;
}
.img-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(to top, rgba(0,0,0,1) -18%, rgba(255,255,255,-0.7) 95%);
}
.square-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 10%;
    top: -70%;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: rgba(38, 38, 38, 0.5);
    padding: 0.437rem;
    text-align: center;
    
}
.square-date .date-day  {
    font-family: $raleway;
    font-weight: $raleway-bold;
    line-height: $para-line-height;
    font-size: 2rem;
}
.square-date .date-month {
    display: block;
    font-family: $raleway;
    font-size: 1.312rem;
    font-weight: 900;
}

.img-title {
    position: absolute;
    bottom: 18%;
    left: 4%;
    right: 4%;
    padding: 0.437rem;
}

.img-title h3 {
    font-family: $raleway;
    font-weight: $raleway-bold;
    font-size: 1.25rem;
}

.img-title > .img-author {
    position: absolute;
    font-family: $raleway-light;
    line-height: $para-line-height;
    font-size: 0.812rem;
    color: #bcbbbb;
}

