/* Styles for contact section */

.contact {
    padding: 5rem;
    height: 100%;
    background-image: url(../images/contact-bg-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:$primary-dark-color;
    
    & .form-content {
        display: flex;
        flex-direction: column;
    }
    & input,textarea {
        font-family: $raleway;
        font-weight: $raleway-light;
        font-size: .937rem;
        flex-basis: 100%;
        padding: 1.187rem;
        background-color: rgba(0, 196, 196, 0.5);
        border: 0;
        color: $secondary-white-color;
        outline: none;
        
        &:hover, &:focus {
            background-color: rgba(0, 196, 196, 1);
            font-weight: $raleway-bold;
            border-left: 5px solid #355b82;
        }
    }
    & textarea {
        height: 250px;
    }
}
.contact .placeholder::-webkit-input-placeholder, {
    color: #FFF;
}
.contact-info h3 {
        font-family: $raleway;
        font-weight: $raleway-bold;
        font-size: 1.25rem;
        color:$primary-dark-color;
}