/* Styles for home section */

.home-content {
    min-height: 100vh;
    display: flex;
    & .header-intro {
        font-size: 3.75rem;
        font-weight: $raleway-heavy;
        font-family: $raleway;
        color: $primary-dark-color;
    }
}

.scroll-down {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: none;
    background: transparent;
    animation: fadeOff 2s infinite;
}

@media screen and (max-width: 500px) {
    .home .header-intro {
        font-size: 3rem;
        white-space: nowrap;
    }
}

@keyframes fadeOff {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}