/* Styles for services section */

.our-services {
    height: 100vh;
    background-color: #70bfff;
    color: #FFFFFF;
    
    & .h2-heading {
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
    }
}

.services {
    
    & .services-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 100px;
        background-color: $secondary-white-color;
        margin-bottom: 1.312rem;
        box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
        position: relative;
    }
    & .services-item a:before {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 25%;
        display: block;
        background-color: #9d9d9d;

    }
    & .services-item a {
        font-size: 1.25rem;
        font-family: $raleway;
        font-weight: $raleway-bold;
        color:$primary-dark-color;
        text-decoration: none;
    }
    
}

.bg-products {
    position: absolute;
    right: 3%;
}
.bg-quality-product {
    width: 81px; 
    height: 71px;
    background: url('../images/icon-sprites.png') -111px -10px;
}
.bg-well-organized {
    width: 81px; height: 75px;
    background: url('../images/icon-sprites.png') -10px -10px;
}

.bg-international-delivery {
    width: 81px; height: 68px;
    background: url('../images/icon-sprites.png') -10px -105px;
}
.bg-online-shopping {
    width: 81px; height: 68px;
    background: url('../images/icon-sprites.png') -111px -105px;
}
