/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
		font-family: 'Roboto', sans-serif;
		background-color: #dadada;
}

button {
    display: block;
    background: none;
    outline: none;
    border: none;
}

button::-moz-focus-inner {
    border: 0;
  }

/* STYLING CALCULATOR */
.calc-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 5rem auto;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.calc-area .square, .calc-area .js-oper {
    cursor: pointer;
    flex-basis: 25%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content:center;
    padding: 1.5rem;
    background-color: #e6e6e6;
    border: 1px solid #2b2b1e80;
    transition: background 0.3s ease;
}

.calc-area .js-oper {
	background-color: #524f4f;
	color: #fff;
}

.calc-area .square.active {
    background-color: rgba(0, 150, 136, 0.71);
    color: #e6e6e6;
    transition: background 0.3s ease;
}

.calc-header {
		display: flex;
		height: 170px;
    background: #009688;
		padding: 2rem;
		font-size: 2rem;
    border-bottom: 1px solid rgba(136, 136, 136, 0.75);
}
.calc-header .clear-calc {
		font-weight: bold;
    background-color: rgba(86, 81, 81, 0.75);
    color: #e6e6e6;
		border: none;
}
.calc-header input[type=text] {
    width: 100%;
		padding: 1.5rem;
		outline: none;
		font-size: 1.5rem;
		background: #524f4f;
		color: #c4bcbc;
		border: none;
}

.calc-keys {
	display: flex;
	flex-wrap: wrap;
}

