/* Set up global properties for <p> and <h2> markups */

.para {
    font-family: $raleway;
    font-size: $para-size;
    font-weight: $raleway-light;
    line-height: $para-line-height;
}

.h2-heading {
    font-family: $raleway;
    font-weight: $raleway-bold;
    font-size: $h2-size;
}



