// Set up all fonts occuring in the page
// Font family
$raleway: 'Raleway', sans-serif;
$pacifico: 'Pacifico', cursive;
// Font weight
$raleway-bold: 700;
$raleway-light: 300;
$raleway-heavy: 900;
// Font size and line-height
$h2-size: 5.625rem;
$para-size: 1.062em;
$para-line-height: 27px;